@font-face {
  font-family: "Google Sans";
  src: url("fonts/GoogleSans-Regular.ttf") format("truetype");
}

#app,
html,
body {
  font-family: "Google Sans";
}

.btn-close {
  box-shadow: none !important;
}
